{% extends "layout.html" %}

{% block content%}
<div class="jumbotron">
    <h1 class="display-4">Bienvenido/a, empezemos!</h1> 
    <p class="lead">Esta pagina web es de prueba para empezar a entender como utilizar HTML y Python.</p> 
    <p class="text-warning">Esta pagina es de PRUEBA</p>
    <p class="text-danger">SE TE PIRA BROOO</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-warning btn-lg" href="about" role="button">Aprende Más</a>
  </div>
<body>

</body>




<footer>
    <p class="text-success">Loco esta pagina es la reostia joder Creada por mi</p>
    <time datetime="27/07/2019" />Publicado el 27/07/2019</time>

    

</footer>

{% endblock %}




<!-- <footer> Para parte de abajo 
     <header> parte de arriba
     <nav> parte de la barra navegacion
     <section> para el cuerpo a la izquierda
     <aside> para el ceurpo a la derecha -->